@font-face {
    font-family: 'BERNIERR';
    src: url('../fonts/BERNIERRegular-Regular.otf');
    src: url('../fonts/BERNIERRegular-Regular.woff') format('woff'),;
    font-weight: normal;
    font-style: normal;
}

@import "global/variables.less";
@import "global/global.less";


@import "blocks/leaders.less";
@import "blocks/participants.less";